[[language]]
name = "ruby"
formatter = { command = "bundle", args = ["exec", "stree", "format"] }
language-servers = [
  { name = "ruby-lsp", except-features = [] },  # Use all features including completion
  { name = "rubocop", only-features = [
    "diagnostics",
  ] },
]
auto-format = true
auto-pairs = { "(" = ")", "[" = "]", "{" = "}", "|" = "|" }

[language-server.ruby-lsp]
command = "ruby-lsp"

[language-server.ruby-lsp.config]
# Enable all completion features
completion = true
diagnostics = true
formatting = true

[language-server.rubocop]
command = "bundle"
# args = ["exec", "rubocop"]
args = ["exec", "rubocop", "--lsp"]

[[language]]
name = "erb"
file-types = ["erb", "html"]
language-servers = ["emmet-ls", "tailwindcss-ls"]

[language.auto-pairs]
'<' = '>'
'%' = '%'
"'" = "'"
'"' = '"'

[[language]]
name = "elixir"
scope = "source.elixir"
file-types = ["ex", "exs"]
auto-format = true
comment-token = "#"
indent = { tab-width = 2, unit = " " }
injection-regex = "(elixir|ex)"
shebangs = ["elixir"]
roots = ["mix.exs", "mix.lock"]
language-servers = ["elixir-ls"]

[[language]]
name = "go"
file-types = ["go"]
language-servers = ["gopls"]
auto-format = true

[language-server.gopls]
command = "gopls"

[[language]]
name = "javascript"
auto-format = false
file-types = ["js", "jsx"]
language-servers = ["typescript-language-server", "tailwindcss-ls", "emmet-ls"]

[[language]]
name = "typescript"
formatter = { command = '/Users/austinwasson/.bun/bin/prettier', args = [
  "--parser",
  "typescript",
] }
file-types = ["ts", "tsx"]
language-servers = ["typescript-language-server", "tailwindcss-ls", "emmet-ls"]
auto-format = true

[[language]]
name = "tsx"
file-types = ["tsx"]
formatter = { command = '/Users/austinwasson/.bun/bin/prettier', args = [
  "--parser",
  "babel-ts",
] }
language-servers = ["typescript-language-server", "tailwindcss-ls", "emmet-ls"]
block-comment-tokens = [{ start = "{/*", end = "*/}" }]
auto-format = true

[language-server.typescript-language-server]
command = "typescript-language-server"
args = ["--stdio"]

[language-server.typescript-language-server.config.typescript.inlayHints]
includeInlayParameterNameHints = "none"
includeInlayParameterNameHintsWhenArgumentMatchesName = false
includeInlayFunctionParameterTypeHints = false
includeInlayVariableTypeHints = false
includeInlayPropertyDeclarationTypeHints = false
includeInlayFunctionLikeReturnTypeHints = false
includeInlayEnumMemberValueHints = false

[language-server.typescript-language-server.config.javascript.inlayHints]
includeInlayParameterNameHints = "none"
includeInlayParameterNameHintsWhenArgumentMatchesName = false
includeInlayFunctionParameterTypeHints = false
includeInlayVariableTypeHints = false
includeInlayPropertyDeclarationTypeHints = false
includeInlayFunctionLikeReturnTypeHints = false
includeInlayEnumMemberValueHints = false

[language-server.tailwindcss-ls]
config = { userLanguages = { rust = "html", "*.rs" = "html", typescript = "html", "*.tsx" = "html" } }

[language-server.emmet-ls]
args = ["--stdio"]
command = "emmet-ls"

[[language]]
name = "markdown"
language-servers = ["mdpls"]

[language-server.mdpls]
command = "mdpls"
config = { markdown.preview.auto = true }

[[language]]
name = "svelte"
scope = "source.svelte"
file-types = ["svelte"]
auto-format = true
comment-token = "//"
indent = { tab-width = 2, unit = " " }
injection-regex = "svelte"
language-servers = ["svelteserver", "emmet-ls"]

[language-server.svelteserver]
command = "svelteserver"
args = ["--stdio"]

[[language]]
name = "rust"
scope = "source.rust"
file-types = ["rs"]
roots = ["Cargo.toml", "Cargo.lock"]
auto-format = true
language-servers = ["rust-analyzer"]

[language-server.rust-analyzer]
command = "rust-analyzer"

[language-server.rust-analyzer.config]
checkOnSave = { command = "clippy" }
cargo.buildScripts.enable = true
procMacro.enable = true
cachePriming.enable = false
diagnostics.experimental.enable = false

[language-server.rust-analyzer.config.inlayHints]
typeHints.enable = false
parameterHints.enable = false
chainingHints.enable = false
closingBraceHints.enable = false

[[language]]
name = "zig"
scope = "source.zig"
file-types = ["zig", "zon"]
roots = ["build.zig", "build.zig.zon"]
auto-format = true
language-servers = ["zls"]

[language-server.zls]
command = "zls"

[language-server.zls.config]
enable_snippets = true
enable_argument_placeholders = true
warn_style = true
semantic_tokens = "full"
inlay_hints_show_variable_type_hints = true
inlay_hints_show_parameter_name = true

[language-server.ols]
command = "odinls"
args = []

[language-server.ols.config]
inlay_hints = true
inlay_hints_same_line = false

[[language]]
name = "odin"
scope = "source.odin"
file-types = ["odin"]
roots = ["ols.json"]
auto-format = true
language-servers = ["ols"]

[[language]]
name = "wgsl"
language-servers = [ "wgsl-analyzer" ]

[language-server.wgsl-analyzer]
command = "wgsl-analyzer"
